#noteContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Augmente l'espacement entre les carrés */
    padding: 20px;
    justify-content: center; /* Centrer les carrés */
}

.note {
    width: 150px;
    height: 150px;
    border: 2px solid #ff6347;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff0f0;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: text;
    overflow: hidden; /* Empêche le texte de sortir du carré */
    font-size: 16px;
    transition: font-size 0.3s ease; /* Transition douce pour la taille du texte */
    position: relative; /* Assure un bon fonctionnement de la translation */
}

.agrandi {
    transform: scale(1.5) translateY(15%);
    font-size: 24px; /* Agrandit le texte avec le carré */
    padding: 20px; /* Plus de padding pour mieux encadrer le texte agrandi */
}
a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
    background-color: #007BFF; /* Bleu pour les actions de navigation */
    color: white; /* Texte en blanc pour le contraste */
    text-decoration: none; /* Pas de soulignement pour un look plus propre */
    border-radius: 5px; /* Bords arrondis pour le bouton de retour */
}
