body {
    background-image: url('trouver-image.jpg'); /* Remplacez 'trouver-image.jpg' par le chemin de votre image de fond */
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#legend-container {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 200px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Assurez-vous que la légende est au-dessus du contenu principal */
}

.legend-item {
    margin-bottom: 10px;
}

.difficulty-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.difficulty-facile {
    background-color: green;
}

.difficulty-intermédiaire {
    background-color: yellow;
}

.difficulty-difficile {
    background-color: red;
}

#presentation {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin: 50px auto;
    max-width: 600px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #333;
    text-align: center;
}

#start-quiz {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

#start-quiz:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    margin-top: 20px;
}

.center-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
}

.styled-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Couleur bleue */
    color: #fff; /* Couleur du texte */
    text-decoration: none; /* Supprime le soulignement du lien */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.styled-button:hover {
    background-color: #0056b3; /* Couleur bleue plus foncée au survol */
}

.red-title {
    color: #DC1A28; /* Couleur rouge */
}
