body {
    background-image: url('trouver-image.jpg');
    background-size: cover;
    font-family: Arial, sans-serif;
    
}

#legend-container {
    float: top left; 
    width: 20%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}


.legend-item {
    margin-bottom: 10px;
}

#quiz-container {
    position: relative; 
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    margin: 50px auto;
    max-width: 600px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
}

.difficulty-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    top: 10px; 
    right: 10px; 
}


.difficulty-facile {
    background-color: green;
}

.difficulty-intermédiaire {
    background-color: yellow;
}

.difficulty-difficile {
    background-color: red;
}


h1 {
    color: #333; /* Couleur du texte */
    text-align: center;
}

#question {
    margin-bottom: 20px;
}

.option-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff; 
    color: #fff; 
    cursor: pointer;
    transition: background-color 0.3s; 
}

.option-btn:hover {
    background-color: #0056b3; 
}

#submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a745; 
    color: #fff; 
    cursor: pointer;
    transition: background-color 0.3s; 
}

#submit-btn:hover {
    background-color: #218838; 
}

#result-container {
    text-align: center;
    margin-top: 20px;
}

.center-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff; 
}
#question-count {
    position: relative; 
    text-align: right; 
    margin-top: 10px;
    margin-right: 20px; 
}

#remaining-questions-text {
    font-weight: bold; 
}

#remaining-questions {
    font-weight: bold; 
    padding: 5px; 
    border: 2px solid #007bff; 
    border-radius: 10px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
}
#timer-container {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 20px;
}

#timer {
    color: #333;
    font-weight: bold;
}
