body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    border-bottom: 2px solid #4caf50; /* Ajoute une bordure en bas */
    padding-bottom: 10px;
    font-family: "Arial Black", sans-serif; 
    background-color: #f0f0f0; /* Ajoute un fond gris clair */
    padding: 10px;
    background: linear-gradient(to right, #4caf50, #007bff); /* Utilise un dégradé de vert à bleu */
    color: white; /* Change la couleur du texte en blanc pour contraster */
    padding: 10px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

a {
    display: block;
    text-align: center;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #4b0082; /* Change la couleur des liens visités en violet */
}

p {
    margin-top: 20px;
    text-align: center;
    color: #888;
}
/* Style pour le message container */
#message-container {
    background-color: #f8d7da; /* Couleur de fond */
    color: #721c24; /* Couleur du texte */
    padding: 10px 15px; /* Espacement intérieur */
    border-radius: 5px; /* Coins arrondis */
    margin-bottom: 20px; /* Marge inférieure */
}

/* Style pour le message de succès */
#message-container.success {
    background-color: #d4edda; /* Couleur de fond pour succès */
    color: #155724; /* Couleur du texte pour succès */
}

/* Style pour le message d'erreur */
#message-container.error {
    background-color: #f8d7da; /* Couleur de fond pour erreur */
    color: #721c24; /* Couleur du texte pour erreur */
}

/* Style pour le lien */
#message-container a {
    color: #155724; /* Couleur du lien */
    text-decoration: underline; /* Soulignement du lien */
    cursor: pointer; /* Curseur au survol du lien */
}

/* Style pour le lien au survol */
#message-container a:hover {
    color: #0d3a13; /* Couleur du lien au survol */
}

