body {
    background-image: url('trouver-image.jpg'); /* Remplacez 'background-image.jpg' par le chemin de votre image de fond */
    background-size: cover;
    font-family: Arial, sans-serif;
    
}

#legend-container {
    float: top left; /* La propriété float ne prend pas de valeurs top et left, utilisez seulement left ou right */
    width: 20%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}


.legend-item {
    margin-bottom: 10px;
}

#quiz-container {
    position: relative; /* Positionnement relatif pour permettre le positionnement absolu du rond de difficulté */
    background-color: rgba(255, 255, 255, 0.8); /* Ajoutez une couleur de fond semi-transparente */
    padding: 20px;
    border-radius: 10px;
    margin: 50px auto;
    max-width: 600px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Ajoutez une ombre pour un effet 3D */
}

.difficulty-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    top: 10px; /* Déplace le rond de difficulté de 10px à partir du haut du conteneur body */
    right: 10px; /* Déplace le rond de difficulté de 10px à partir de la droite du conteneur body */
}


.difficulty-facile {
    background-color: green;
}

.difficulty-intermédiaire {
    background-color: yellow;
}

.difficulty-difficile {
    background-color: red;
}


h1 {
    color: #333; /* Couleur du texte */
    text-align: center;
}

#question {
    margin-bottom: 20px;
}

.option-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* Couleur de fond */
    color: #fff; /* Couleur du texte */
    cursor: pointer;
    transition: background-color 0.3s; /* Animation de transition */
}

.option-btn:hover {
    background-color: #0056b3; /* Couleur de fond au survol */
}

#submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a745; /* Couleur de fond */
    color: #fff; /* Couleur du texte */
    cursor: pointer;
    transition: background-color 0.3s; /* Animation de transition */
}

#submit-btn:hover {
    background-color: #218838; /* Couleur de fond au survol */
}

#result-container {
    text-align: center;
    margin-top: 20px;
}

.center-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff; /* Couleur du lien */
}
#question-count {
    position: relative; /* Positionnement relatif pour permettre le positionnement absolu du texte */
    text-align: right; /* Alignement du texte à droite */
    margin-top: 10px;
    margin-right: 20px; /* Espacement à droite */
}

#remaining-questions-text {
    font-weight: bold; /* Met en gras le texte */
}

#remaining-questions {
    font-weight: bold; /* Met en gras le texte */
    padding: 5px; /* Ajout de remplissage */
    border: 2px solid #007bff; /* Ajout d'une bordure */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Ajout d'une ombre */
}
#timer-container {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 20px;
}

#timer {
    color: #333;
    font-weight: bold;
}
