body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.form {
    background-color: #fff;
    padding: 1rem;
    max-width: 350px;
    width: calc(100% - 2rem);  /* Assure que le formulaire ne dépasse pas les marges horizontales */
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #000;
    margin-bottom: 1rem;
}

.input-container {
    width: 100%; /* Ajuste la largeur des conteneurs d'entrée à la largeur du formulaire */
    position: relative;
    margin-bottom: 1rem;
}

.input-container input {
    width: calc(100% - 2rem); /* Compense pour le padding, évitant le débordement */
    padding: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.submit {
    width: 100%;
    background-color: #4F46E5;
    color: #ffffff;
    border: none;
    padding: 0.75rem 1.25rem;
    border-radius: 0.5rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
}

.signup-link {
    margin-top: 1rem;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
}

.signup-link a {
    color: #4F46E5;
    text-decoration: underline;
}

// pour tel, a enlever peut etre
@media (max-width: 400px) {
    .form {
        width: 95%;
        padding: 0.5rem;
    }

    .input-container input {
        width: calc(100% - 1rem); /* Ajuste la largeur des inputs sur les petits écrans pour éviter tout débordement */
    }
}


